    <%- include("../header") %>

    <main class="container">
        <a href="/api/vol/new" class="btn btn-outline-success">New Vol</a>
        <h2 class="text-center">Vols</h2>

        <table class="table table striped">
            <tr class="table table-dark">
                <th>numéro</th>
                <th>Origine</th>
                <th>Destination</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Compagnie</th>
                <th>Places</th>
                <th>Actions</th>
            </tr>
            <% vols.forEach( (v) => { %>
                <tr>
                    <td> <%= v.numeroVol %> </td>
                    <td> <%= v.origine %> </td>
                    <td> <%= v.destination %> </td>
                    <td> <%= new Date(v.dateDepart).toLocaleString() %> </td>
                    <td> <%= new Date(v.dateArrivee).toLocaleString() %> </td>
                    <td> <%= v.avion.compagnie %> - <%= v.avion.modele %> </td>
                    <td> <%= v.placesRestantes %> </td>
                    <td>
                        x - u
                    </td>
                </tr>
            <% }) %>

        </table>
   
    </main>
</body>
</html>
