    <%- include("../header") %>
    
    <main class="container">
        <h1>Avions</h1>

        <% avions.forEach( (avion) => { %>
            <ul>
                <li> Modèle : <%= avion.model %> </li>
                <li> Compagnie : <%= avion.compagnie %> </li>
                <li> Capacité : <%= avion.capacite %> </li>
            </ul>
            <form method="POST" action="/api/avion/<%= avion._id %>?_method=DELETE" class="d-inline">
                <button type="submit" class="btn btn-outline-primary">Delete</button>
            </form>
            <a href="/api/avion/<%= avion._id %>/update" class="btn btn-outline-primary">Update</a>
            <hr>
        <% }) %>
    </main>

</body>
</html>