    <%- include("../header") %>
    
    <main class="container">
        <a href="/api/avion/new" class="btn btn-outline-success">New Avion</a>
        <h1>Avions</h1>

        <% avions.forEach( (avion) => { %>
            <ul class="alert alert-<%= avion.enService ? 'success': 'danger' %> list-group my-2">
                <li class="list-group-item"> Modèle : <%= avion.modele %> </li>
                <li class="list-group-item"> Compagnie : <%= avion.compagnie %> </li>
                <li class="list-group-item"> Capacité : <%= avion.capacite %> </li>
                <li class="list-group-item"> En service : <%= avion.enService ? "OUI" : "NON" %> </li>
            </ul>
            <form method="POST" action="/api/avion/<%= avion._id %>?_method=DELETE" class="d-inline">
                <button type="submit" class="btn btn-outline-primary">Delete</button>
            </form>
            <a href="/api/avion/<%= avion._id %>/update" class="btn btn-outline-primary">Update</a>
            <hr>
        <% }) %>
    </main>

</body>
</html>